#devops
black==22.3.0
click==8.1.3 
pytest==7.1.3
pytest-cov==4.0.0
#pylint==2.15.3
#rust based linter
ruff==0.0.284
boto3==1.24.87
#web
fastapi==0.85.0
uvicorn==0.18.3
altair==4.2.2
async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.10.0
blinker==1.5
bokeh==2.4.3
bs4==0.0.1
cachetools==5.3.0
certifi==2021.10.8
# cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
contourpy==1.0.7
cryptography==37.0.2
cycler==0.11.0
decorator==5.1.1
entrypoints==0.4
fonttools==4.31.2
gitdb==4.0.10
GitPython==3.1.31
h11==0.13.0
html5==0.0.9
html5lib==1.1
idna==3.3
importlib-metadata==6.1.0
Jinja2==3.1.2
jsonschema==4.17.3
kiwisolver==1.4.2
lxml==4.8.0
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.5.1
mdurl==0.1.2
mpmath==1.2.1
nba-api==1.1.11
numpy==1.22.3
outcome==1.1.0
packaging==21.3
# pandas==1.4.1
# Pillow==9.1.0
# protobuf==3.20.3
# pyarrow==11.0.0
# pycparser==2.21
# pydeck==0.8.0
# Pygments==2.14.0
# Pympler==1.0.1
# pyOpenSSL==22.0.0
# pyparsing==3.0.7
# pyrsistent==0.19.3
# PySocks==1.7.1
# python-dateutil==2.8.2
# pytz==2022.1
# pytz-deprecation-shim==0.1.0.post0
# PyYAML==6.0
# requests==2.27.1
# rich==13.3.2
# scipy==1.8.0
# seaborn==0.11.2
# selenium==4.1.5
# semver==2.13.0
# six==1.16.0
# smmap==5.0.0
# sniffio==1.2.0
# sortedcontainers==2.4.0
# soupsieve==2.3.1
# streamlit==1.20.0
# sympy==1.10.1
# tabulate==0.8.9
# toml==0.10.2
# toolz==0.12.0
# tornado==6.2
# trio==0.20.0
# trio-websocket==0.9.2
# typing_extensions==4.5.0
# tzdata==2023.2
# tzlocal==4.3
# Unidecode==1.3.4
# urllib3==1.26.9
# validators==0.20.0
# webencodings==0.5.1
# wsproto==1.1.0
# xyzservices==2023.2.0
# zipp==3.15.0
